.App {
  text-align: center;
}
html, body {
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255), rgb(236, 233, 230));
}

.bold{
  font-weight: 600;
}
.color-1{
  color: #147c80;  
}
.color-2{
  color:#bc0710;;  
}
.color-3{
  color: #3E51B5;
}

.color-4{
  color: #828489;
}

.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 14px;
}

.underline{
  text-decoration: underline;
}




