.App {
  text-align: center;
}

body{
  background-image: url(./assets/images/cool-background-white-compressor.png);
  background-repeat: repeat-y;
}


.bold{
  font-weight: 600;
}
.color-1{
  /*color: #147c80;*/
 /*color: #D44068;  */
 color: rgb(84, 185, 185);
}
.color-2{
  color:indianred;  
}
.color-3{
  color: #3E51B5;
}

.color-4{
  color: #828489;
}

.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 14px;
}

.underline{
  text-decoration: underline;
}

.tab-panel{
  background-size: cover;
  background-position: top center;
}

.simple-tab-0{
  color: white;
  background-image: url(./assets/images/melanie-leduc-nhlfPOVcMTw-unsplash-compressor.jpg);
  height: 100vh;
}
.simple-tab-1{
  color: black;
  background-image: url(./assets/images/cool-background-white-compressor.png);
  height: 100vh;


}
.simple-tab-2{
  background-image: url(./assets/images/cool-background-white-compressor.png);
  height: 100vh;
}

.simple-tab-3{
  background-image: url(./assets/images/cool-background-white-compressor.png);
  height: 100vh;
}

@media (max-width: 768px) {  
  .simple-tab-2{
    background-image: url(./assets/images/cool-background-white-compressor.png);
    background-repeat: repeat;
  }
}






