.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bold{
  font-weight: 600;
}
.color-1{
  color: #147c80;  
}
.color-2{
  color:#bc0710;;  
}




