.about{
}
.about-content{ 
    display: inline-block;    
    padding: 2%; 
    font-style: normal;
    font-size: 25px; 
    width: 50%;
}

@media (max-width: 768px) {  
    .about-content{ 
        width: 100%;
        font-size: 20px; 
    } 
    .my-img {
        width: 100%;
    }
}

@media (min-width: 768px) {  
    .my-img {
        width: 40%;
    }
}

.my-img{   
    padding: 2%; 
    float: left;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.square{

    transform: rotate(-45deg);
    
    width: 105px;
    
    height: 105px;
    
    margin: 24px;
        
    overflow: hidden;
    
    }

    .pic{

        transform: rotate(45deg);
        
        overflow: hidden;
        
        width: 140px;
        
        height: 140px;
        
        margin: -18px;
        
        }

