.about{
    text-align: center;
    justify-content: center;
    padding: 2%; 

}
.about-content{ 
    display: inline-block;    
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    .my-img{   
        padding: 2%; 
        filter: drop-shadow(6px 5px 8px black);
    }
}

@media (max-width: 768px) {  
    .about-content{ 
        font-size: 20px;
    } 
    .my-img {
        width: 100%;
    }  
}

@media (min-width: 768px) {  
    .my-img {
        width: 60%;
    }
}





        


