

.home{
    padding: 0% 20%;
    text-align: center;
    color: #F2F3F3;
}


.details{ 
    padding: 3%; 
    .main-title{
        font-family: din-condensed, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 70px;   
    }
    .sub-title{
        font-family: din-condensed, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        .love-icon{
            font-size: 45px;
            margin-bottom: 1px;
        }
        .code-icon{
            font-size: 45px;
        }
    }

    .say-hello-btn{
        margin-bottom: 10px;
        background: #ECE9E6;
    }

    .social-media-icons{
        .linkedIn-icon{  
            width: 60px;
            height: 60px;
            color: rgb(185, 199, 199);         
        }
        .facebook-icon{
            width: 60px;
            height: 60px;
            color: rgb(185, 199, 199);         
        }
        .instagram-icon{
            width: 60px;
            height: 60px;
            color: rgb(185, 199, 199);         
        }
    }
}

@media (max-width: 768px) {
    .home{
        display: block;    
        padding: 0;
        width: 100%; 
        .details{ 
            padding: 0;
            .main-title{
                font-family: din-condensed, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
            }

            .sub-title {
                font-size: 30px;  
                .love-icon{
                    font-size: 30px;
                }
                .code-icon{
                    font-size: 30px;
                }
            }
            .say-hello-btn{
                margin-top: 10px;    
            }
        }
        .main-img{
            width: 100%;
            margin-top: 20px;
        }      
    } 
}


.main-img{
    border-radius: 50%;
    padding: 1%;
    filter: drop-shadow(2px 4px 6px black);
}


  @media (min-width: 768px) {  
    .main-img{
        width: 35%;
    }
}



  
  .MuiInput-underline:after {
    border-bottom: #147c80 !important;
  }



 .animated { 
    -webkit-animation-duration: 1s;
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }
 
 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-20px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-15px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce ;
    animation-iteration-count: infinite; 
 }

 .name{
    display: inline-block;
}

  
 
  
  