//color: #147c80;




.about{
    width: 100%;
}

.about-content{ 
    display: inline-block;    
    padding: 2%; 
    font-style: normal;
    font-size: 25px; 
    width: 50%;
}

@media (max-width: 768px) {  
    .about-content{ 
        width: 100%;
        font-size: 20px; 
    } 
    .my-img {
        width: 100%;
    }
}

@media (min-width: 768px) {  
    .my-img {
        width: 40%;
    }
}

.my-img{   
    padding: 2%; 
    float: left;
}

