.resume-container{
    padding: 0% 25% ;
    .email-address{
        text-align: center;
    }

    .section-header{
      margin-top: 15px;
      font-size:18px;
    }
}

@media (max-width: 768px) {  
    .resume-container{
        width: 100%;
        padding: 2% 2% 
    }
}




